__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.gitignore
.next/
node_modules/
client/
knowledge_graph/
data_pipeline/
tipp_scrapping/
README.md
CHANGELOG.md
Dockerfile
docker-compose*.yml
