PORT=8003
HOST=0.0.0.0
DATA_DIR=data

# AWS S3 Configuration
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY_ID_MANUAL=your-access-key-id
AWS_SECRET_ACCESS_KEY_MANUAL=your-secret-access-key
AWS_REGION=us-east-1

PROXY_ENABLED=True
